---
import BaseLayout from '../layouts/BaseLayout.astro';

let title = 'Astro Minimal Starter';
let description = 'This is a starter mock-up a blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.';
let permalink = 'https://example.com/';
---

<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
    <center><img src="https://americanshootingjournal.com/img/AMLogo.png" width="500"/></center><br/>
    <h1>Starter</h1>
    <a href="/blog">Blog</a>
</BaseLayout>
