---
import BaseLayout from '../layouts/BaseLayout.astro';

let title = 'Spider Market';
let description = 'This is a starter mock-up a blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.';
let permalink = 'https://astromin.netlify.app/';
---

<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
    <center><img src="https://astromin.netlify.app/assets/blog/example-blog/spidermarket.jpg" width="200" /><br/>
        <h1>Spider Market</h1>
        <a href="/blog">What I Do</a></center>
</BaseLayout>
